---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<div class="h-screen p-2">
  <nav class="flex justify-between w-screen h-10 bg-lime-300">
    <div class="flex">
      <!-- <img alt="PI-logo" src="/public/logo_token.png" /> -->
      <span class="ml-2">Energia transactiva exchange PI</span>
    </div>

    <!--?xml version="1.0"?-->
    <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle cx="60" cy="60" r="50"></circle>
    </svg>
  </nav>
  <!--A modo de resumen y/o presentación de la página -->
  <div class="flex flex-col md:flex-row">
    <!--Not working responsive -->
    <div class="bg-[#f0e5d8]">
      <!--El color está a prueba, aún me falta definir una paleta adecuada -->
      <span class="text-xl font-bold text-gray-800 mb-4">
        La energia transactiva en colombia como un marco de posibilidades
        sostenible
      </span>
      <p>
        La energia transactiva es un concepto novedoso que busca proporcionar un
        medio para diversificar y descentralizar las redes electricas en todo el
        mundo, para que estas se puedan adaptar con mayor facilidad a la
        naturaleza volatil de las energias renovables y aprovechar su potencial.
      </p><br />
      <p>
        Estas iniciativas se estan expandiendo por el mundo rapidamente,
        habiendo llegado ya a distintos paises de latinoamerica.
      </p>
      <br />
      <p>
        El poder del concepto consiste en permitir que los usuarios regulares de
        la red electrica se conviertan a su vez en productores y comerciantes de
        energia, la cual es producida por medios renovables y se puede comerciar
        de manera descentralizada mediante el intercambio de tokens energeticos.
      </p>
      <br />
      Para lograr esto es fundamental:
      <ol role="list" class="marker:text-sky-400 list-disc pl-5 space-y-3">
        <li>
          Permitir mediante una interfaz de salida que los usuarios de la red
          aporten a la misma y se conviertan en nodos generadores.
        </li>
        <li>
          Hacer una administracion de la red adecuada para que la energia que
          estos generadores producen se pueda utilizar
        </li>
        <li>
          Establecer una representacion en tokens por cierta cantidad de Kwh que
          genera un nodo y se integran a la red
        </li>
        <li>
          Permitir que otros usuarios compren y vendan estos tokens mediante un
          marketplace para los mismos
        </li>
      </ol><br />
      <p>
        Las posibilidades y retos tecnicos que se presentan en esta area son
        diversos ya que este es un mercado naciente e innovador.
        <br />
        Lamentablemente a dia de hoy en colombia no existe regulacion que permita
        aplicar estos conceptos y que surja este nuevo mercado. Por lo que este proyecto
        se realiza unicamente a modo de piloto.
      </p>
    </div>
  </div>
  <!--<div>CARRUSEL DE IMAGENES O VENDEDORES DESTACADOS</div> -->

  <span> Vendedores destacados de los ultimos seis meses! </span>

  <!-- Tabla con los vendedores principales -->
  <div class="grid grid-cols-2 gap-2 p-2">
    <div class="bg-orange-200">
      <ul>
        <li>Username: Samuel Acevedo</li>
        <li>Average of Tokens sold per month: 50EPMT(inventado)</li>
        <li>Average price: 500000 COP</li>
        <li>Main energy source: Solar</li>
        <li>etc</li>
      </ul>
    </div>
    <div class="bg-orange-200">
      <ul>
        <li>Username: JuanM</li>
        <li>Average of Tokens sold per month: 100EPMT(inventado)</li>
        <li>Average price: 380000 COP</li>
        <li>Main energy source: Wind</li>
        <li>etc</li>
      </ul>
    </div>
    <div class="bg-orange-200">
      <ul>
        <li>Username: DiegoB-UdeA</li>
        <li>Average of Tokens sold per month: 10EPMT(inventado)</li>
        <li>Average price: 100000 COP</li>
        <li>Main energy source: Solar</li>
        <li>etc</li>
      </ul>
    </div>
  </div>
  <footer class="bottom-0 w-screen h-10 text-center">
    All rights reserved. 2024.
  </footer>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</div>
