---
import OfferPanel from "../components/OfferPanel";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <!--A modo de resumen y/o presentación de la página -->
  <div class="flex flex-col md:flex-row p-1">
    <!--Not working responsive -->
    <div class="max-w-2/3 m-2">
      <!--El color está a prueba, aún me falta definir una paleta adecuada -->
      <h2 class="text-xl font-bold mb-4">
        La energia transactiva en colombia como un marco de posibilidades
        sostenible
      </h2>
      <p>
        La energia transactiva es un concepto novedoso que busca proporcionar un
        medio para diversificar y descentralizar las redes electricas en todo el
        mundo, para que estas se puedan adaptar con mayor facilidad a la
        naturaleza volatil de las energias renovables y aprovechar su potencial.
      </p><br />
      <p>
        Estas iniciativas se estan expandiendo por el mundo rapidamente,
        habiendo llegado ya a distintos paises de latinoamerica.
      </p>
      <br />
      <p>
        El poder del concepto consiste en permitir que los usuarios regulares de
        la red electrica se conviertan a su vez en productores y comerciantes de
        energia, la cual es producida por medios renovables y se puede comerciar
        de manera descentralizada mediante el intercambio de tokens energeticos.
      </p>
      <br />
      Para lograr esto es fundamental:
      <ol role="list" class="list-disc pl-5 space-y-3">
        <li>
          Permitir mediante una interfaz de salida que los usuarios de la red
          aporten a la misma y se conviertan en nodos generadores.
        </li>
        <li>
          Hacer una administracion de la red adecuada para que la energia que
          estos generadores producen se pueda utilizar
        </li>
        <li>
          Establecer una representacion en tokens por cierta cantidad de Kwh que
          genera un nodo y se integran a la red
        </li>
        <li>
          Permitir que otros usuarios compren y vendan estos tokens mediante un
          marketplace para los mismos
        </li>
      </ol><br />
      <p>
        Las posibilidades y retos tecnicos que se presentan en esta area son
        diversos ya que este es un mercado naciente e innovador.
        <br />
        Lamentablemente a dia de hoy en colombia no existe regulacion que permita
        aplicar estos conceptos y que surja este nuevo mercado. Por lo que este proyecto
        se realiza unicamente a modo de piloto.
      </p>
    </div>
    <div class="max-w-1/3 self-center">
      <img
        src="https://www.ceupe.com.ve/images/easyblog_articles/205/b2ap3_large_Tipo.jpg"
      />
    </div>
  </div>
  <!--<div>CARRUSEL DE IMAGENES O VENDEDORES DESTACADOS</div> -->
  <br />
  <p class="text-center border-t-4 pt-4">
    Vendedores destacados de los ultimos seis meses!
  </p>

  <!-- Tabla con los vendedores principales -->
  <OfferPanel />
</Layout>
